* {
    margin: 0;
    padding: 0;
    
}

header, footer {
    background-color: #1f2937;
}

.herotext {
    font-size: 48px;
    color: #f3f4f6;
    font-weight: 900;
}

.herosubtext, nav {
    font-size: 18px;
    color: #e5e7eb;
}

h1 {
    font-size: 24px;
    color: #f9faf8;
    margin-left: 80px;
    margin-right: 80%;
}

button, .callAction {
    background-color: #3882f6;
}

.info {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

header h1, nav{
    display: inline-flex;
    justify-content: space-between;
}

nav {
    display: flex;
    margin-left: 55%;
    padding-right: 1%;
    flex-direction: row;
}

header p {
    padding: 2%;
    text-align: start;
    margin-right: 40%;
}

header button {
    display: block;
    justify-self: start;
    margin-left: 20%;
}

section {
    padding: 10%;
}

section info{
    display: block;
    width: 80%;
}

.variants {
    text-align: center;
    font-weight: 900;
}

.variant-container {
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
}

.freshlyRoasted, .premiumBeans, .richAroma, .perfectBalance {
    background-color: #79521e27;
    border-radius: 8px;
    padding: 2%;
    width: 20%;
    border: #dab464 2px solid;
}

footer {
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding: 2%;
}

button {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    padding: 1% 2%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}